<%= simple_form_for(@instructor, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>

  <%= f.input :nombres %>
  <%= f.input :cedula %>
  <%= f.input :email %>
  <%= f.input :direccion %>
  <%= f.input :telefono %>
  <%= f.input :fch_ncto, as: :date, start_year: Date.today.year - 50, end_year: Date.today.year - 10, accept_day: true, order: [:day, :month, :year] %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-info' %>
    <%= link_to 'Cancelar', instructores_path, :class => 'btn btn-inverse' %>
  </div>
<% end %>
